:root {
    --bg: #ffffff;
    --text: #1C1C1E;
    --subtle-text: #555555;
    --accent: #4A90E2;
    --highlight: #bdab8c;
    --card: #FAFAFA;
    --border: #D1D1D6;
    --primary-color: #6a5acd;
    --timeline-bg-color: #f4f6f8;
}

/* Dark mode overrides */
html[data-bs-theme='dark'] {
    --bg: #0A0A0A;
    --text: #EDEDED;
    --subtle-text: #AAAAAA;
    --accent: #4A90E2;
    --highlight: #FF6B6B;
    --card: #2C2C2E;
    --border: #444444;
}
div {
    padding-top: 5px;
}
a {
    text-decoration: none;
    color: var(--subtle-text);
}
body {
    background-color: var(--bg);
    color: var(--text);
}

#content {
    margin: 20px;
    margin-top: 70px;
    
}

nav {
    color: var(--text);


}

a :hover {
   background-color: var(--highlight); 
}

* {
    transition: background-color 0.3s, color 0.3s;
}

.btn {
    border-color: var(--border);
    width: 200px;
    align-content: center;
}

.btn:hover {
    background-color: var(--highlight);
    font-size: larger;
}

.navbar {
    background-color: var(--card);
    color: var(--text);
}

.timeline {
    position: relative;
    max-width: 700px;
    margin: auto;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: var(--primary-color);
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 70%;
    padding: 20px 30px;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.1);
    background-color: white;
    margin-bottom: 30px;
    border-radius: 6px;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%
}

.timeline-item::after {
    content: attr(data-date);
    position: absolute;
    top: 15px;
    color: var(--primary-color);
    font-weight: bold;
}

.timeline-item:nth-child(odd)::after {
    right: -90px;
}

.timeline-item:nth-child(even)::after {
    left: -90px;
}

.timeline-item h3 {
    margin-top: 0;
}

.timeline-item:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}

.alumni-sans-pinstripe-regular {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alumni-sans-pinstripe-regular-italic {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .noto-sans-p {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.portfolio-card {
    height: 550px;
}
